.container {
	margin: 0 auto;
	max-width: 600px;
}

h1, h2 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 10px;
	margin-bottom: 5px;
	background-color: #eee;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

li span {
	flex-grow: 1;
}

li button {
	margin-left: 10px;
}

.completed {
	background-color: #cfc;
	text-decoration: line-through;
}
